html {
    min-height: 100%;
    font-size: 50%;
    line-height: 1.5;
}

body {
    margin: 0;
    background-color: #FCF6BD;;
}

body.edit-task .edit-form {
    display: flex;
    visibility: visible;
    opacity: 1;
}

header {
    display: none;
    opacity: 0;
    position: absolute;
}

#content {
    display: flex;
    min-height: 100vh;
    font-size: 3em;
}

nav {
    flex: 1;
    max-width: 300px;
    background-color: #FCF6BD;
    background-color: #D0F4DE;
    display: flex;
    flex-direction: column;
}

.myprojects-heading {
    align-self: center;
    font-size: 1.2em;
}

.project-icon {
    width: 8%;
    height: 100%;
}

.nav-project-btn {
    max-width: 100%;
    flex: 1;
    background-color: transparent;
    border: none;
    text-align: start;
    font-size: 0.8em;
    cursor: pointer;
}

.rm-project-btn {
    max-width: 100%;
    flex: 0.2;
    background-color: transparent;
    border: none;
    color: red;
    font-size: 0.8em;
    cursor: pointer;
}

.core-projects {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.user-projects {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.user-project-nav {
    display: flex;
    padding-left: 20px;
}

.core-project-nav {
    width: 100%;
    display: flex;
    padding-top: 10px;
    padding-left: 20px;
    background-color: #D0F4DE;
}

.core-project-nav:hover {
    background-color: #D0F4DE;
    background-color: #6bfca0
}

.user-project-nav:hover {
    background-color: #6bfca0
}

.add-project.active {
    display: block;
    align-self: center;
    margin-top: 10px;
    cursor: pointer;
    width: 50%;
}

.add-project {
    display: none;
}

.add-project-form {
    display: none;
}

.add-project-form.active {
    display: block;
    width: 50%;
    align-self: center;
}

.add-project-input {
    width: 100%;
}

.project {
    flex: 3;
    background-color: #D0F4DE;
    background-color: #FCF6BD;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}


.project-tasks {
    display: flex;
    flex-direction: column;
}

.task {
    display: flex;
    text-align: center;
    align-items: center;
}

.task input {
    display: none;
}

.task input + div:before {
    content: "○";
    margin-right: 10px;
    align-self: center;
    font-size: 2em;
  }
  
.task input:checked + div:before {
    content: "✔";
}

.task input:checked + div p {
    text-decoration: line-through;
}

.task-title-date {
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    flex: 1;
    text-align: center;
}

.task-title {
    text-align: center;
    padding-left: 5px;
}

.task-date{
    padding-right: 5px;
    background-color: #b8b1715e;
    padding-left: 5px;
}

.task-btns {
    display: inline;
    text-align: center;
    justify-self: center;
    align-self: center;
    flex: 1;
}

.rm-task-btn {
    background-color: transparent;
    border: none;
    color: red;
    font-size: 1em;
    cursor: pointer;
}

.edit-task-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

.store-task-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.add-task-btn.active {
    display: block;
    align-self: center;
    width: 25%;
}

.add-task-btn {
    display: none;
}

.add-task-form.active {
    display: block;
    align-self: center;
    width: 25%;
}

.add-task-form {
    display: none;
}

.add-task-input {
    width: 100%;
    align-self: center;
    padding-left: 10px;
}

.edit-form {
    visibility: hidden;
    opacity: 0;
    min-height: 100%;
    width: 300px;
    background-color: #A9DEF9;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
    box-sizing: border-box;
    padding-right: 20px;
}


.submit-edit-btn {
    align-self: center;
}


.submit-edit-btn  button {
    cursor: pointer;
}

@media (max-width: 1000px) {

    html {
        font-size: 80%;
    }

    body {
        margin: 0;
        min-width: 100%;
        display: flex;
        flex-direction: column;
    }

    #content {
        flex-direction: column;
        min-width: 100vw;
        overflow: hidden;
    }

    header {
        display: block;
        position: relative;
        opacity: 1;
        min-width: 100vw;
        display: flex;
        background-color: black;
    }

    .button-nav-open {
        max-width: 4em;
        max-height: 4em;
        text-align: center;
        font-size: 15em;
        color: white;
        background-color: transparent;
        border: none;
        padding: 0;
        padding-left: 50px;
    }

    nav {
        max-width: none;
        min-width: 100vw;
        display: none;
        opacity: 0;
    }  

    .nav-enter {
        display: flex;
    }
    
    .nav-enter-active {
        opacity: 1;
    }

    .project-icon {
        font-size: 5em;
        width: 0.5em;
    }

    .nav-project-btn {
        font-size: 1.5em;
        padding-left: 10px;
        padding-top: 12px;
    }

    .core-project-nav {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .myprojects-heading {
        font-size: 2.2em;
    }

    .user-projects {
        flex: 1;
    }

    .add-project.active {
        margin-top: 40px;
        width: 100%;
        font-size: 2em;
        flex: 0.5;
    }

    .add-project-form.active {
        margin-top: 40px;
        display: flex;
        width: 100%;
        flex: 1;
    }

    .add-project-input {
    width: 100%;
    font-size: 2em;
    }

    h1 {
       font-size: 3em;
       flex: 0.1;
       max-height: 10vh;
    }

    .project-tasks {
        flex: 3;
        max-height: 60vh;
        overflow: scroll;
    }

    .task {
        font-size: 2em;
    }

    .store-img {
        font-size: 2em;
        width: 2em;
        height: 2em;
    }

    .add-task-btn.active {
        width: 50%;
        flex: 1;
        font-size: 2em;
        max-height: 10vh;
        margin-top: 30px
    }

    .add-task-form.active {
        width: 50%;
        flex: 1;
        margin-top: 30px
    }

    .add-task-input {
        font-size: 2em;
        height: 3em;
    }

    body.edit-task .edit-form {
        position: absolute;
        width: 100%;
        justify-content: flex-start;
        padding-top: 40px;
    }

    form.edit-form p {
        font-size: 3em;
        margin-bottom: 0;
        flex: 1;
        display: flex;
        flex-direction: column;
        max-height: 22vh;
        margin: 0;
    }

    form.edit-form > p > input {
        font-size: 1em;
    }

    select {
        font-size: 1em;
    }

    .submit-edit-btn {
        flex: 1;
        max-height: 15vh;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .submit-edit-btn button {
        flex: 1;
        font-size: 2em;
    }
}